{:aliases {:user/cljs-repl {:extra-deps {com.github.jpmonettas/flow-storm-inst {:mvn/version "3.7.3"}
                                         hashp/hashp {:mvn/version "0.2.1"}}
                            :main-opts ["-m" "shadow.cljs.devtools.cli" "--config-merge" "{:devtools {:preloads [hashp.core flow-storm.preload]}}"]}
           :repl-server {:exec-fn clojure.core.server/start-server
                         :exec-args {:name "repl-server"
                                     :port 5555
                                     :accept clojure.core.server/repl
                                     :server-daemon false}}

           :flow-storm-old {:extra-deps {jpmonettas/flow-storm-debugger {:mvn/version "0.6.0"}
                                         org.openjfx/javafx-controls {:mvn/version "17.0.2"}
                                         org.openjfx/javafx-web {:mvn/version "17.0.2"}}
                            :main-opts ["-m" "flow-storm-debugger.main"]}

           :flow-storm-app {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.7.3"}}
                            :exec-fn flow-storm.debugger.main/start-debugger
                            :exec-args {:port 44264
                                        :repl-type :shadow
                                        :build-id :app}}

           :flow-storm-cloud {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.7.3"}}
                              :exec-fn flow-storm.debugger.main/start-debugger
                              :exec-args {:port 44264
                                          :runtime-host "127.0.0.1"
                                          :debugger-host "127.0.0.1"}}

           :hashp {:extra-deps {hashp/hashp {:mvn/version "0.2.2"}}}}}
