{:aliases {:user/cljs {:extra-deps {;com.github.jpmonettas/flow-storm-inst {:mvn/version "3.1.263"}
                                    ;; Latest transit needed for new flow-storm to not crash
                                    ;com.cognitect/transit-cljs {:mvn/version "0.8.280"}
                                    jpmonettas/flow-storm {:git/url "https://github.com/jpmonettas/flow-storm.git"
                                                           :sha "98438e796319b4fa323ef510c5a9b225f8d12158"}
                                    hashp/hashp {:mvn/version "0.2.1"}}
                       :main-opts ["-m" "shadow.cljs.devtools.cli" "--config-merge" "{:devtools {:preloads [hashp.core flow-storm.preload]}}"]}
           :repl-server {:exec-fn clojure.core.server/start-server
                         :exec-args {:name "repl-server"
                                     :port 5555
                                     :accept clojure.core.server/repl
                                     :server-daemon false}}

           :flow-storm-old {:extra-deps {jpmonettas/flow-storm-debugger {:mvn/version "0.6.0"}
                                         org.openjfx/javafx-controls {:mvn/version "17.0.2"}
                                         org.openjfx/javafx-web {:mvn/version "17.0.2"}}
                            :main-opts ["-m" "flow-storm-debugger.main"]}

           :flow-storm-new {:extra-deps {com.github.jpmonettas/flow-storm-dbg {:mvn/version "3.1.263"}}
                        :exec-fn flow-storm.debugger.main/start-debugger
                        :exec-args {:port 44264
                                    :repl-type :shadow
                                    :build-id :app}}

           :hashp {:extra-deps {hashp/hashp {:mvn/version "0.2.2"}}}}}
