{:aliases {:user/cljs-repl {}
           :repl-server {:exec-fn clojure.core.server/start-server
                         :exec-args {:name "repl-server"
                                     :port 5555
                                     :accept clojure.core.server/repl
                                     :server-daemon false}}}}
